.titolo {
    background-color: rgb(51, 63, 73);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.titolo-2 {
    background-color: rgb(188, 183, 208);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border: solid 2px black;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
}

#home {
    background-color: rgb(171, 187, 187);
}

#about {
    background-color: rgb(171, 187, 187);
}

#contact {
    background-color: rgb(171, 187, 187);
}

.paragrafo {
    color: rgb(2, 2, 12);
    font-size: 20px;
}

.paragrafi {
    font-size: 20;
}

.contatto {
    font-size: 20px;
}

a:hover {
    color: rgb(4, 46, 5);
}

div#spazi {
    background-color: #4f504c;
    font-size: 25px;
    margin: 50px 30px;
        margin-top: 50px;
        margin-right: 30px;
        margin-bottom: 50px;
        margin-left: 30px;
    padding: 50px;
    border: solid 1px #111;
        border-style: solid;
        border-width: 1px;
        border-color: #111;
}
div#spazi-2 { background-color: #ba9a9a }

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: square;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}
